<!DOCTYPE html>
<html>
<head>
    <title>Кулинарные рецепты</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script src="{{ asset('assets/js/jquery-2.2.3.min.js') }}"></script>
</head>
<body>
<div class="wrapper">
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="js-alert-success bg-success alert-msg" style="color: green;"><b>{{ flashMessage|raw }}</b></div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="js-alert-success bg-success alert-msg" style="color: red;"><b>{{ flashMessage|raw }}</b></div>
    {% endfor %}
    {% block content %}{% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>

